.main-header-wrapper {
  position: sticky;
  width: 100%;
  border-bottom: 0.0625rem solid rgb(192, 194, 204);
}

.main-header {
  height: 4rem;
  max-width: 97.5rem;

  margin: 0 auto;
  padding: 0 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu {
  display: flex;
  align-items: center;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-menu-list {
  margin-left: 2.5rem;
  display: flex;
}

.main-menu-item {
  margin-right: 1.5rem;

  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.2s;
}

.main-menu-item:hover {
  color: rgb(82, 95, 255);
}

.main-menu-item:last-child {
  margin-right: 0;
}
